*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

input {
    outline: none;
}

img {
    display: block;
    /*width: 100%;
    height: auto;*/
}

ul li {
    list-style: none;

    margin: 0;
    padding: 0;
}