$main-text-color: #000000;
$second-text-color: #ffffff;
$accent-color: #ff6b01;
$loader-accent-color: #a54301;
$background-light-grey: #f7f7f7;
$footer-text-color: #545454;
$header-accent-color: #ff001b;
