<div class="backdrop is-hidden" data-modal backdrop>
  <div class="modal">
    <button type="button" class="button modal-close-btn" data-modal-close>
      <svg class="close-icon" width="18px" height="18px">
        <use href="./img/icons.svg#close-btn"></use>
      </svg>
    </button>
    <h1 class="team-modal-title">Development team</h1>
    <ul class="team-list">
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img"
          src="https://ca.slack-edge.com/T03EE13352B-U03K4PKEMP1-443287e10db3-512"
          alt="face" / width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Mark Cherniatynskyi</p>
            <div class="role-container lead">
              <span class="role special">Team Lead</span>
            </div>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img" src="./img/Yurii.jpg" alt="face" /
          width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Yuriy Leontenko</p>
            <div class="role-container">
              <span class="role special">Scrum Master</span>
            </div>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img"
          src="https://ca.slack-edge.com/T03EE13352B-U03MRLGF2F6-e01d7f7bfa98-512"
          alt="face" / width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Ivan Prokhorets</p>
            <span class="role">Developer</span>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img"
          src="https://ca.slack-edge.com/T03EE13352B-U03KAQE4JPQ-f060f2fd394f-512"
          alt="face" / width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Vitaliy</p>
            <span class="role">Developer</span>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img"
          src="https://ca.slack-edge.com/T03EE13352B-U03FEKL3BEE-8fe342f7a606-512"
          alt="face" / width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Tetyana Palamarchuk</p>
            <span class="role">Developer</span>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img"
          src="https://ca.slack-edge.com/T03EE13352B-U03FATRB4B1-2ec232a3f6eb-512"
          alt="face" / width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Vladyslav Shestavetskyi</p>
            <span class="role">Developer</span>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img"
          src="https://ca.slack-edge.com/T03EE13352B-U03F5Q8MZE3-2dc60dc75a21-512"
          alt="face" / width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Nikolay Yevsovich</p>
            <span class="role">Developer</span>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img" src="./img/port.jpg" alt="face" /
          width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Tetiana Martyniuk</p>
            <span class="role">Developer</span>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
      <li class="team-list-item">
        <div class="team-list-item-container">
          <img class="team-list-item-img" src="./img/evg.jpg" alt="face" /
          width="120" height="120">
          <div class="team-list-item-text-container">
            <p class="team-list-item-name">Humeniuk Evhen</p>
            <span class="role">Developer</span>
          </div>
          <div class="socials-container">
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </div>
            <div class="team-icon-container">
              <svg class="team-social-icon">
                <use href="./img/icons.svg#github"></use>
              </svg>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
