<div class="container">
  <h2 class="visually-hidden">TOP-films</h2>
  <ul class="movie-grid-list">
    <li class="grid-movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title"></h3>
        <p class="movie-genre"></p>
      </div>
    </li>
    <li class="grid-movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title"></h3>
        <p class="movie-genre"></p>
      </div>
    </li>
    <li class="grid-movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title"></h3>
        <p class="movie-genre"></p>
      </div>
    </li>
    <li class="grid-movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title"></h3>
        <p class="movie-genre"></p>
      </div>
    </li>
    <!-- <li class="grid-element"></li>
    <li class="grid-element"></li>
    <li class="grid-element"></li>
    <li class="grid-element"></li> -->
  </ul>
  <div class="pagination-wrap"></div>
</div>
