<div class="container">
  <h2 class="visually-hidden">TOP-films</h2>
  <ul class="movie-list">
    <li class="movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title">GREYHOUND</h3>
        <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating visually-hidden">10.0</li>
        </ul>
      </div>
    </li>
    <li class="movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title">GREYHOUND</h3>
        <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating visually-hidden">10.0</li>
        </ul>
      </div>
    </li>
    <li class="movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title">GREYHOUND</h3>
        <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
      </div>
    </li>
    <li class="movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title">GREYHOUND</h3>
        <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
      </div>
    </li>
    <li class="movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title">GREYHOUND</h3>
        <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
      </div>
    </li>
    <li class="movie-card">
      <a href="" class="movie-item">
        <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
      </a>
      <div class="movie-info">
        <h3 class="movie-title">GREYHOUND</h3>
        <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
      </li>
      <li class="movie-card">
        <a href="" class="movie-item">
          <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
        </a>
        <div class="movie-info">
          <h3 class="movie-title">GREYHOUND</h3>
          <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
        </div>
      </li>
      <li class="movie-card">
        <a href="" class="movie-item">
          <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
        </a>
        <div class="movie-info">
          <h3 class="movie-title">GREYHOUND</h3>
          <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
        </div>
      </li>
      <li class="movie-card">
        <a href="" class="movie-item">
          <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
        </a>
        <div class="movie-info">
          <h3 class="movie-title">GREYHOUND</h3>
          <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
      </li>
      <li class="movie-card">
        <a href="" class="movie-item">
          <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
        </a>
        <div class="movie-info">
          <h3 class="movie-title">GREYHOUND</h3>
          <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
      </li>
      <li class="movie-card">
        <a href="" class="movie-item">
          <img class="movie-img" src="./img/Rectangle 5.jpg" alt="GREYHOUND" loading="lazy" />
        </a>
        <div class="movie-info">
          <h3 class="movie-title">GREYHOUND</h3>
          <ul class="thumb">
          <li class="movie-genre">Drama, Action</li>
          <li class="movie-date">| 2020</li>
          <li class="movie-rating">10.0</li>
        </ul>
      </li>
    
    <!-- <li class="grid-element"></li>
    <li class="grid-element"></li>
    <li class="grid-element"></li>
    <li class="grid-element"></li> -->
  </ul>
  <div class="pagination-wrap"></div>
</div>
