<div class="card__cont js-card__cont no-activ" data-modalCard>
  <div class="card__cont-modal">
    <button type="button" class="card__cont-button" data-modalCard-close>
      <svg class="card__cont-icon" width="18px" height="18px">
        <use href="./img/icons.svg#close-btn"></use>
      </svg>
    </button>
    <img class="card__img" src="./img/Rectangle 5.jpg" alt="img" />
    <div class="card__table-container">
      <h1 class="card__table-heder">A FISTFUL OF LEAD</h1>
      <table class="card__table">
        <tr class="card__table-vote">
          <td class="card__table-name">Vote / Votes</td>
          <td class="card__table-value">7.3/1260</td>
        </tr>
        <tr class="card__table-popularity">
          <td class="card__table-name">Popularity</td>
          <td class="card__table-value">100.2</td>
        </tr>
        <tr class="card__table-title">
          <td class="card__table-name">Original Title</td>
          <td class="card__table-value">A FISTFUL OF LEAD</td>
        </tr>
        <tr class="card__table-genre">
          <td class="card__table-name last-child">Genre</td>
          <td class="card__table-value last-child">Western</td>
        </tr>
      </table>
      <div class="card__about">
        <h2 class="card__about-heder">About</h2>
        <p class="card__about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how? Four of the West’s most infamous
          outlaws assemble to steal a huge stash of gold from the most corrupt
          settlement of the gold rush towns. But not all goes to plan one is
          killed and the other three escapes with bags of gold hide out in the
          abandoned gold mine where they happen across another gang of three –
          who themselves were planning to hit the very same bank! As tensions
          rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and
          how?Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how? Four of the West’s most infamous
          outlaws assemble to steal a huge stash of gold from the most corrupt
          settlement of the gold rush towns. But not all goes to plan one is
          killed and the other three escapes with bags of gold hide out in the
          abandoned gold mine where they happen across another gang of three –
          who themselves were planning to hit the very same bank! As tensions
          rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and
          how?Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how? Four of the West’s most infamous
          outlaws assemble to steal a huge stash of gold from the most corrupt
          settlement of the gold rush towns. But not all goes to plan one is
          killed and the other three escapes with bags of gold hide out in the
          abandoned gold mine where they happen across another gang of three –
          who themselves were planning to hit the very same bank! As tensions
          rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>
      <div class="card__button">
        <button class="card__button-text">add to Watched</button>
        <button class="card__button-text">add to queue</button>
      </div>
    </div>
  </div>
</div>
