<div class="card__cont js-card__cont no-activ" data-modalCard>
  <div class="card__cont-modal">
    <button type="button" class="card__cont-button" data-modalCard-close>
      <svg class="card__cont-icon" width="18px" height="18px">
        <use href="./img/icons.svg#close-btn"></use>
      </svg>
    </button>
    <div class="card__cont-marking"></div>
      <div class="card__table-container">
        <div class="card__table"></div>
        <div class="card__button">
          <button type="button" data-add-to="watched" class="add card__button-text modal-watched">Add to Watched</button>
          <button type="button" data-add-to="queue" class="add card__button-text modal-queue">Add to Queue</button>
        </div>
      </div>
    
  </div>
</div>
