.container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1280px) {  
        width: 1280px;
    }

};

.grid-list {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding-top: 60px;
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            column-gap: 32px;
            row-gap: 32px;
        }
    @media screen and (min-width: 1280px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 16px;
    }
};

.grid-element {
    margin-bottom: 20px;
    display: block;
    width: 280px;
    height: 438px;
    background-color: rgb(90, 193, 49);

    &:last-child {
        margin-bottom: 0px;
    }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding: 0px;
                display: block;
                width: 336px;
                height: 495px;
                background-color: rgb(90, 193, 49);
        }
    
        @media screen and (min-width: 1280px) {
            display: block;
                width: 395px;
                height: 634px;
                background-color: rgb(90, 193, 49);
        }
}

