.gallery {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
            
            padding: 0 16px;
        }
    
        // @media screen and (min-width: 1200px) {
        //     margin: -15px;
        //     padding: 0 32px;
        // }
   
    
}

.movie-card {
    width: calc(100vw - 2 * 20px);
    margin: 20px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        margin: 16px;
        width: calc(100vw / 2 - 2 * 24px);
    }

        @media screen and (min-width: 1280px) {
            width: calc(100vw  / 3 - 2 * 17px);
            margin: 8px;
        }
}

.movie-item {
    height: 100%;
    flex-direction: column;
    display: flex;
}

.movie-img {
    
   border-radius: 5px;
}

.movie-info {
    font-family: 'Roboto';
    font-size: calc(12px + 8 * (100vw / 1280));;
    line-height: 1.6;

    // font-size: 12px;
    // @media screen and (min-width: 768px) {
    //         line-height: 1.33;
    //     }
    
    //     @media screen and (min-width: 1200px) {
    //         font-size: 20px;
    //         line-height: 1.2;
    //     }

    
}

.movie-title {
    text-transform: uppercase;

    color: $main-text-color;
}

.movie-genre {
    color: $accent-color;
}