.movie-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.img-placeholder {
    background-image: url(../img/placeholder.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(245,245,245);
    border-radius: 5px;
}

.img-wrapper {
    width: 280px;
    height: 398px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
            width: 336px;
            height: 455px;
        }
    
        @media screen and (min-width: 1280px) {
            width: 395px;
            height: 574px;
        }
}

.movie-info-wrapper {
    height: 70px;
    position: relative;
    font-family: 'Roboto';
    font-size: 12px;
    // font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
    line-height: 1.16;
    padding-top: 10px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
            line-height: 1.33;
            height: 50px;
            padding-top: 8px;

        }

        @media screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 1.2;
            padding-top: 12px;
            height: 95px;
        }


}


.movie-title {
    text-transform: uppercase;

    color: $main-text-color;
    
}

.thumb {
    display: flex;
    align-items: baseline;
    
}
.movie-genre {
    // margin-right: 8px;
    color: $accent-color;
}

.movie-date {
    color: $accent-color;
    margin-left: 8px;
}


.movie-rating {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 8px;
    width: 36px;
    height: 16px;

    color: $second-text-color;
    background: $accent-color;
    border-radius: 5px;
    
    font-size: 12px;
    line-height: 1.16;
    
    @media screen and (min-width: 1280px) {   
        width: 40px;
        height: 20px;
    }
}

.movie-item {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    pointer-events: none;
}

// .movie-card {
//     width: calc(100vw - 2 * 20px);
//     display: flex;
//     flex-direction: column;

//     @media screen and (min-width: 768px) {
//         margin: 16px;
//         width: calc(100vw / 2 - 2 * 25px);
//     }

//     @media screen and (min-width: 1280px) {
//         margin: 8px;
//         width: calc(100vw / 3 - 2 * 19px);
//     }
// }


// .gallery {
//     display: flex;
//     flex-wrap: wrap;
//     justify-items: center;
//     align-items: center;

//     margin: -20px;
//     padding-top: 20px;
//     padding-bottom: 40px;
//     margin-left: auto;
//     margin-right: auto;

//     @media screen and (min-width: 768px) {
//         margin: -16px;
//         padding-top: 60px;
//         padding-bottom: 60px;
//     }

//     @media screen and (min-width: 1280px) {
//         margin: -8px;

//     }

// }