.switch input {
    display: none;

}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: .4s;
    width: 50px;
    height: 23px
}
.ab{
    color:white;
}
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color:#ff001b;
  
    transition: .4s;
}
.hov:hover{
    background: #ff6b01;
}
input:checked+.slider {
    background-color: white;
}

input:focus+.slider {
    box-shadow: 0 0 1px white;
}

input:checked+.slider:before {
    
    transform: translateX(26px);
}

.slider.round {
   
    border-radius: 34px;
  
        margin-top: 45px;
        display: flex;
        margin-right: 290px;
        margin-left: auto;
        @media screen and (max-width:1200px) {
                margin-right: 200px;
            }
                                @media screen and (min-width: 1201px) and (max-width:1399px)  {
                                    margin-right: 300px;
                                }
                                                                @media screen and (min-width:1400px) and (max-width:1600px){
                                                                    margin-right: 350px;
                                                                }
                                                                                                                                 @media screen and (min-width:1601px) and (max-width:1900px) {
                                                                                                                          margin-right: 500px;
                                                                                                                                 }
                                                                                                                                                                                                                                                                  @media screen and (min-width:1901px) and (max-width:2300px) {
                                                                                                                                                                                                                                                                      margin-right: 650px;
                                                                                                                                                                                                                                                                  }
}
.slider.round:before {
    border-radius: 50%;
}
.night-title {
    color: white;
    text-transform: uppercase;
}

.night-genre {
    padding: 10px 15px;
    color: rgb(251, 122, 23);
    margin: 8px;
    display: inline-block;
    cursor: pointer;

    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        2px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: rgb(62, 62, 62);

    &:hover {
        transform: translate(-1px, -4px);
        transition: transform $main-effects-option;
    }
}