
.paginationsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
<<<<<<< Updated upstream
}
.pagination ul {
    display: flex;
    background: $second-text-color;
    
=======
    align-items: center;
>>>>>>> Stashed changes
}

.backButton,
.nextButton {
  
background-color: $background-light-grey;
height: 40px;
            width: 40px;
  
    color: black;
    padding: 0.5rem;
    cursor: pointer;
}

.backButton:hover,
.nextButton:hover {
    background-color: $accent-color;
    color: white;

}

.paginationPageNumber {
   
    padding: 0.5rem;
    margin: 0 1rem;
}
.hide {
    display: none;
}